


:root {
    --primary-color: #fffefe;
    --accent-color: #bdbdbd;
    --bg-body: #d1d1d1;
    --card-bg: #ffffff;
    --text-color: #333333;
}

.dark-mode {
    --bg-body: #121212;
    --card-bg: #1e1e1e;
    --text-color: #ffffff;
    --primary-color: #424242;
    --accent-color: #b4b4b4;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--bg-body);
    color: var(--text-color);
    margin: 0;
    text-align: center;
    transition: 0.3s;
    padding: 0;
    scroll-behavior: smooth;
}
#info-box {
    background-color: var(--bg-body);
    color: var(--text-color);
    padding: 0px 10px;
    font-size: 140%;
}

#loader-wrapper {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: var(--bg-body); display: flex; flex-direction: column;
    justify-content: center; align-items: center; z-index: 9999;
}
.spinner {
    width: 50px; height: 50px; border: 5px solid #ddd;
    border-top: 5px solid var(--accent-color); border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin { 100% { transform: rotate(360deg); } }
.loader-hidden { opacity: 0; pointer-events: none; transition: 0.5s; }


header { background: #fcffff; margin-bottom: 5%; z-index: 90; color: var(--text-color); padding: 3% 20px; position: relative; font-family: 'Times New Roman', Times, serif; font-style: bold;}
.mode-btn { position: absolute; top: 10px; right: 10px; padding: 5px 10px; cursor: pointer; background-color: #121212;color: white; border: black; border-radius: 0.25rem; transition-duration: 0.4s;}
.mode-btn:hover {
    background-color: #797979; 
    color: white;
}
.main-btn, .nav-button, .share-btn { 
    background: var(--accent-color); color: #222; border: none; 
    padding: 12px 25px; border-radius: 5px; font-weight: bold; cursor: pointer; text-decoration: none;
}
.calendar-btn { background: white; border: 1px solid #ccc; padding: 10px; margin-left: 10px; cursor: pointer; }


.cast-grid { 
    display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; padding: 40px; max-width: 1200px; margin: 0 auto; 
}
.cast-card { 
    background: #ffffff; border-radius: 12px; overflow: hidden; 
    box-shadow:0 8px 16px 0 black;
    cursor: pointer;
    border-top: 5px solid var(--accent-color);
    transition-duration: 0.9s;
    text-align: left;
    border-bottom: #1e8afd 10px solid;
}
.cast-card h3 {
    text-align: center;
}
.cast-card:hover {
    box-shadow:0 8px 16px 0 gray;
    border-bottom: #007bff 5px solid;
}
.cast-image { width: 100%; height: 100%; object-fit: cover; }
/*transition: max-height 1.9s ease;
transition: padding 1.9s ease;*/
.description { 
    max-height: 0; overflow: hidden;
    font-size: 0.9rem;
    background: rgba(0,0,0,0.05);
    border-bottom: #ffffff 1px solid;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-weight: bold;
}
.typewriter {
  width: 21.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
  0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
  0% { 
    width: 0; 
  }
  100% { 
    width: 21.5ch; 
  }
}
.cast-card.active .description {border-bottom: #ffffff 1px solid; max-height: 150px; padding: 15px;}


footer { background: #222; color: #ccc; padding: 40px 20px; margin-top: 40px; margin-bottom: 40px; }
footer a { color: var(--accent-color); text-decoration: none; }

#cast-section {
    display: none;
}

#timer {
    font-size: xx-large;

}


#menubar {
    background-color: #333;
    color: white;
    padding: 6%;
}
#menubar:a {
    margin: 3%;
    background-color: #333;
    padding: 4%;
    width: 10%;
    height: 5%;

}
#menubar::hover {
    background-color: #fff;

}
.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 99;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: color 0.3s ease;
}
.nav-link:active, .nav-link.active {
  color: #007bff;
  text-decoration: none;
}
.nav-link:hover {
    
    color: #007bff;
}
.nav-link:active::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 250%;
  height: 4px;
  background: #007bff;
  border-radius: 2px;
}

.nav-link span {
  font-size: 20px;
  margin-bottom: 2px;
}

#location-section {
    display: none;
    font-size: 140%;
}
#story {
    padding: 10%;
    text-align: left;
    font-size: larger;
}

#preview {
    background-color: var(--bg-body);
    padding: 2%;
    color: var(--text-color);
    
}

.preview-box {
    background-color: var(--accent-color);
    margin: 5%;
    border-radius: 0.25rem;
    padding: 10%;
    word-wrap: break-word;       
    overflow-wrap: anywhere;
    hyphens: auto;
    text-align: left;
}
.button {
    background-color: var(--text-color);
    border-radius: 0.25rem;
    color: var(--bg-body);
    font-size: 130%;
    margin-top: 7%;
    width: 100%;
    padding: 5%;
    border: 0px;
    transition-duration: 0.4s;
    align-self: auto;
    align-items: center;
    align-content: center;
}
.button:hover {
    background-color: black;
    color: white;
    transform: scale(110%);
}


.galerie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1-fr);
  gap: 10px;
  padding: 10px;
}

.galerie-item {
  width: 100%;
  height: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: fill; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition-duration: 0.4s;
}
.galerie-item:hover {
    transform: scale(101%);
}
#foto-galerie {
    display: none;
}


.modal {
  display: none; /* Standardmäßig unsichtbar */
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Dunkler Hintergrund */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#modal-img {
  max-width: 90%;
  max-height: 70%;
  border-radius: 8px;
  object-fit: contain;
}

#modal-text {
  margin-top: 20px;
  font-size: 1.2rem;
  padding: 0 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

img {
    image-rendering: auto;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}


table {
  width: 100%;
  border-collapse: collapse; /* Verhindert doppelte Linien */
  font-family: sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}


tr:nth-child(even) {
  background-color: #f9f9f9;
}

#faq {
    background-color: #76b7fc;
    padding: 10%;
    margin-top: 20%;
    text-align: left;
}
.faq {
    background-color: #afd6ff;
    padding: 10%;
    border-radius: 0.5rem;
    margin-bottom: 10%;
}
.rainbow-text {
   background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
   background-clip: text;
   color: transparent;
}
.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.confetti {
  position: absolute;
  top: -20px;
  width: 10px;
  height: 25px;
  background-color: #f2d74e;
  opacity: 0.8;
  animation: fall 3s infinite ease-out;
}

/* Die Fall-Animation */
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

/* Verschiedene Positionen, Farben und Zeiten für jeden Schnipsel */
.confetti:nth-child(1) { left: 10%; background: #f2d74e; animation-delay: 0s; }
.confetti:nth-child(2) { left: 20%; background: #95c3de; animation-delay: 1s; }
.confetti:nth-child(3) { left: 30%; background: #ff9a91; animation-delay: 2s; }
.confetti:nth-child(4) { left: 40%; background: #f2d74e; animation-delay: 0.5s; }
.confetti:nth-child(5) { left: 50%; background: #95c3de; animation-delay: 1.5s; }
.confetti:nth-child(6) { left: 60%; background: #f2d74e; animation-delay: 0.3s; }
.confetti:nth-child(7) { left: 70%; background: #95c3de; animation-delay: 1.7s; }
.confetti:nth-child(8) { left: 80%; background: #ff9a91; animation-delay: 3s; }
.confetti:nth-child(9) { left: 90%; background: #f2d74e; animation-delay: 2.5s; }
.confetti:nth-child(10) { left: 100%; background: #95c3de; animation-delay: 0.5s; }





.datenschutz {
  padding: 10%;
    text-align: left;
    font-size: larger;
    display: none;
}